In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt

from IPython.display import display
from sklearn.model_selection import train_test_split
from sklearn.metrics import mutual_info_score
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [2]:
# !wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

In [3]:
df = pd.read_csv('./data.csv.1')
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [4]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    print(df[col].value_counts())
    print('')
    print('')
    
    df[col] = df[col].str.lower().str.replace(' ', '_')

df = df[[
    'make',
    'model',
    'year',
    'engine_hp',
    'engine_cylinders',
    'transmission_type',
    'vehicle_style',
    'highway_mpg',
    'city_mpg',
    'msrp'
]]

df = df.fillna(0)
df.rename(columns={'msrp':'price'}, inplace=True)

df

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: make, dtype: int64


Silverado 1500        156
Tundra                140
F-150                 126
Sierra 1500            90
Beetle Convertible     89
                     ...
MKZ Hybrid              1
M4 GTS                  1
LFA                     1
Horizon                 1
Zephyr                  1
Name: model, Length: 915, dtype: int64


regular unleaded                                7172
premium unleaded (required)                     2009
premium unleaded (recommended)                  1523
flex-fuel (unleaded/E85)                         899
diesel                                           154
electric                                          66
flex-fuel (premium unleaded required/E85)         54
flex-fuel (premium unleaded recommended/E85)      26
flex-fuel (unleaded/natural gas)                   6
natural gas                                        2
Name: engine_fuel_type, dtype: int64


AUTOMATIC           8266
MANUAL              2935
AUTOMATED_MANUAL     626
DIRECT_DRIVE          68
UNKNOWN               19
Name: transmission_type, dtype: int64


front wheel drive    4787
rear wheel drive     3371
all wheel drive      2353
four wheel drive     1403
Name: driven_wheels, dtype: int64


Crossover                                          1110
Flex Fuel                                           872
Luxury                                              855
Luxury,Performance                                  673
Hatchback                                           641
                                                   ...
Crossover,Exotic,Luxury,Performance                   1
Exotic,Luxury,High-Performance,Hybrid                 1
Crossover,Exotic,Luxury,High-Performance              1
Flex Fuel,Factory Tuner,Luxury,High-Performance       1
Performance,Hybrid                                    1
Name: market_category, Length: 71, dtype: int64


Compact    4764
Midsize    4373
Large      2777
Name: vehicle_size, dtype: int64


Sedan                  3048
4dr SUV                2488
Coupe                  1211
Convertible             793
4dr Hatchback           702
Crew Cab Pickup         681
Extended Cab Pickup     623
Wagon                   592
2dr Hatchback           506
Passenger Minivan       417
Regular Cab Pickup      392
2dr SUV                 138
Passenger Van           128
Cargo Van                95
Cargo Minivan            71
Convertible SUV          29
Name: vehicle_style, dtype: int64

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500
...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995

In [5]:
dfс = pd.read_csv('./data.csv.1')
dfс.columns = dfс.columns.str.lower().str.replace(' ', '_')

arr = list(set(dfс.model.values))
narr = set()

for k in arr:
    if k.lower() not in narr: narr.add(k.lower())
    else:
        print('DUP LOWER', k)
        break

DUP LOWER tC

In [6]:
# Q1
df.transmission_type.value_counts()

automatic           8266
manual              2935
automated_manual     626
direct_drive          68
unknown               19
Name: transmission_type, dtype: int64

In [7]:
print('df.engine_hp.corr(df.year)', df.engine_hp.corr(df.year))
print('df.engine_hp.corr(df.engine_cylinders)', df.engine_hp.corr(df.engine_cylinders))
print('df.highway_mpg.corr(df.engine_cylinders)', df.highway_mpg.corr(df.engine_cylinders))
print('df.highway_mpg.corr(df.city_mpg)', df.highway_mpg.corr(df.city_mpg))

df.engine_hp.corr(df.year) 0.3387141847624468
df.engine_hp.corr(df.engine_cylinders) 0.7748509807813194
df.highway_mpg.corr(df.engine_cylinders) -0.6145414173953326
df.highway_mpg.corr(df.city_mpg) 0.8868294962591357

In [8]:
m = df.price.mean()

df['above_average']  = df.price.apply(lambda x: 1 if x > m else 0)

df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,bmw,1_series_m,2011,335.0,6.0,manual,coupe,26,19,46135,1
1,bmw,1_series,2011,300.0,6.0,manual,convertible,28,19,40650,1
2,bmw,1_series,2011,300.0,6.0,manual,coupe,28,20,36350,0
3,bmw,1_series,2011,230.0,6.0,manual,coupe,28,18,29450,0
4,bmw,1_series,2011,230.0,6.0,manual,convertible,28,18,34500,0
...,...,...,...,...,...,...,...,...,...,...,...
11909,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,46120,1
11910,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,56670,1
11911,acura,zdx,2012,300.0,6.0,automatic,4dr_hatchback,23,16,50620,1
11912,acura,zdx,2013,300.0,6.0,automatic,4dr_hatchback,23,16,50920,1
11913,lincoln,zephyr,2006,221.0,6.0,automatic,sedan,26,17,28995,0

In [9]:
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

price_train = df_train.price.values
price_val = df_val.price.values
price_test = df_test.price.values

del df_train['price']
del df_val['price']
del df_test['price']

len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [10]:
df_train_full.above_average.value_counts(normalize=True)

0    0.723219
1    0.276781
Name: above_average, dtype: float64

In [11]:
categorical = ['make', 'model', 'transmission_type', 'vehicle_style']
numerical = ['year','engine_hp', 'engine_cylinders', 'highway_mpg', 'city_mpg']

df_train_full[categorical].nunique()

make                  48
model                902
transmission_type      5
vehicle_style         16
dtype: int64

In [12]:
df_train_full[df_train_full.year > 2000].price.mean()

46860.056021387776

In [13]:
df_train_full[df_train_full.year < 2000].price.mean()

2484.2728026533996

In [14]:
for k in df_train_full.vehicle_style.unique(): print(k, df_train_full[df_train_full.vehicle_style == k].above_average.mean())

sedan 0.29054325955734406
4dr_suv 0.3746192893401015
coupe 0.49625668449197863
regular_cab_pickup 0.006711409395973154
2dr_hatchback 0.0
wagon 0.1600831600831601
passenger_minivan 0.07964601769911504
crew_cab_pickup 0.3370165745856354
extended_cab_pickup 0.06464646464646465
4dr_hatchback 0.04609929078014184
convertible 0.555379746835443
convertible_suv 0.15384615384615385
2dr_suv 0.035398230088495575
passenger_van 0.08333333333333333
cargo_minivan 0.0
cargo_van 0.0

In [15]:
global_mean = df_train_full.above_average.mean()
round(global_mean, 3)

for col in categorical:
    print(col)
    df_group = df_train_full.groupby(by=col).above_average.agg(['mean'])
    df_group['diff'] = df_group['mean'] - global_mean
    df_group['ratio'] = df_group['mean'] / global_mean
    display(df_group)
    print('')
    print('')

make

                   mean      diff     ratio
make
acura          0.391089  0.114308  1.412991
alfa_romeo     1.000000  0.723219  3.612964
aston_martin   1.000000  0.723219  3.612964
audi           0.654412  0.377631  2.364366
bentley        1.000000  0.723219  3.612964
bmw            0.822064  0.545283  2.970088
bugatti        1.000000  0.723219  3.612964
buick          0.123377 -0.153404  0.445755
cadillac       0.881988  0.605207  3.186590
chevrolet      0.181313 -0.095468  0.655076
chrysler       0.084967 -0.191814  0.306984
dodge          0.086957 -0.189825  0.314171
ferrari        1.000000  0.723219  3.612964
fiat           0.000000 -0.276781  0.000000
ford           0.150355 -0.126426  0.543226
genesis        1.000000  0.723219  3.612964
gmc            0.228426 -0.048355  0.825296
honda          0.031161 -0.245620  0.112585
hummer         0.250000 -0.026781  0.903241
hyundai        0.033058 -0.243723  0.119437
infiniti       0.593407  0.316626  2.143957
kia            0.065217 -0.211564  0.235628
lamborghini    1.000000  0.723219  3.612964
land_rover     0.750000  0.473219  2.709723
lexus          0.590909  0.314128  2.134933
lincoln        0.598485  0.321704  2.162304
lotus          1.000000  0.723219  3.612964
maserati       1.000000  0.723219  3.612964
maybach        1.000000  0.723219  3.612964
mazda          0.005935 -0.270846  0.021442
mclaren        1.000000  0.723219  3.612964
mercedes-benz  0.698925  0.422144  2.525190
mitsubishi     0.000000 -0.276781  0.000000
nissan         0.164352 -0.112429  0.593797
oldsmobile     0.000000 -0.276781  0.000000
plymouth       0.014925 -0.261856  0.053925
pontiac        0.000000 -0.276781  0.000000
porsche        0.906542  0.629761  3.275304
rolls-royce    1.000000  0.723219  3.612964
saab           0.268817 -0.007964  0.971227
scion          0.000000 -0.276781  0.000000
spyker         1.000000  0.723219  3.612964
subaru         0.000000 -0.276781  0.000000
suzuki         0.000000 -0.276781  0.000000
tesla          1.000000  0.723219  3.612964
toyota         0.174873 -0.101908  0.631809
volkswagen     0.049849 -0.226932  0.180102
volvo          0.393162  0.116381  1.420482

model

                mean      diff     ratio
model
100         0.000000 -0.276781  0.000000
124_spider  0.000000 -0.276781  0.000000
190-class   0.000000 -0.276781  0.000000
1_series    0.416667  0.139886  1.505402
2           0.000000 -0.276781  0.000000
...              ...       ...       ...
z3          0.000000 -0.276781  0.000000
z4          1.000000  0.723219  3.612964
z4_m        1.000000  0.723219  3.612964
z8          1.000000  0.723219  3.612964
zdx         1.000000  0.723219  3.612964

[902 rows x 3 columns]

transmission_type

                       mean      diff     ratio
transmission_type
automated_manual   0.474206  0.197425  1.713291
automatic          0.310017  0.033236  1.120079
direct_drive       0.458333  0.181552  1.655942
manual             0.138652 -0.138129  0.500944
unknown            0.000000 -0.276781  0.000000

vehicle_style

                         mean      diff     ratio
vehicle_style
2dr_hatchback        0.000000 -0.276781  0.000000
2dr_suv              0.035398 -0.241383  0.127893
4dr_hatchback        0.046099 -0.230682  0.166555
4dr_suv              0.374619  0.097838  1.353486
cargo_minivan        0.000000 -0.276781  0.000000
cargo_van            0.000000 -0.276781  0.000000
convertible          0.555380  0.278599  2.006567
convertible_suv      0.153846 -0.122935  0.555841
coupe                0.496257  0.219476  1.792958
crew_cab_pickup      0.337017  0.060236  1.217629
extended_cab_pickup  0.064646 -0.212135  0.233565
passenger_minivan    0.079646 -0.197135  0.287758
passenger_van        0.083333 -0.193448  0.301080
regular_cab_pickup   0.006711 -0.270070  0.024248
sedan                0.290543  0.013762  1.049722
wagon                0.160083 -0.116698  0.578375

In [16]:
# Q3

for col in categorical:
    print(col, ':')
    val = mutual_info_score(df_train_full.above_average, df_train_full[col])
    print(round(val, 2))
    print('')

make :
0.24

model :
0.46

transmission_type :
0.02

vehicle_style :
0.08

In [17]:
# Q4
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
val_dict = df_val[categorical + numerical].to_dict(orient='records')

X_train = dv.fit_transform(train_dict)
X_val = dv.transform(val_dict)

y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict_proba(X_val)[:, 1]
prob_to_bool = (y_pred >= 0.5)


df_val[prob_to_bool]

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,above_average
9951,audi,sq5,2015,354.0,6.0,automatic,4dr_suv,24,17,1
509,bmw,5_series_gran_turismo,2016,300.0,6.0,automatic,4dr_hatchback,26,18,1
2710,mercedes-benz,clk-class,2007,382.0,8.0,automatic,convertible,22,15,1
8538,acura,rl,2010,300.0,6.0,automatic,sedan,22,16,1
10902,audi,tts,2017,292.0,4.0,automated_manual,coupe,27,23,1
...,...,...,...,...,...,...,...,...,...,...
523,bmw,5_series,2016,255.0,6.0,automatic,sedan,38,26,1
9348,gmc,sierra_1500,2016,355.0,8.0,automatic,crew_cab_pickup,23,16,1
8850,audi,s3,2015,292.0,4.0,automated_manual,sedan,31,23,1
11162,aston_martin,v8_vantage,2015,430.0,8.0,automated_manual,coupe,21,14,1
3256,cadillac,cts,2015,321.0,6.0,automatic,sedan,29,18,1

In [18]:
main_acc = (y_val == prob_to_bool).mean()
main_acc

0.9387326898866974

In [19]:
prob_to_bool.astype(int), y_val

(array([0, 1, 0, ..., 0, 1, 1]), array([0, 1, 0, ..., 0, 1, 1]))

In [20]:
# Q5
arr = categorical + numerical
test = [1,2,3]

table = pd.DataFrame(columns=['diff'])

def get_accucare_by_features(filteed_arr, to_excl, init_df):
    df = init_df.copy()
    df = df.drop(columns=[to_excl])

    df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
    df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

    y_train = df_train.above_average.values
    y_val = df_val.above_average.values
    y_test = df_test.above_average.values

    price_train = df_train.price.values
    price_val = df_val.price.values
    price_test = df_test.price.values

    del df_train['price']
    del df_val['price']
    del df_test['price']
    
    train_dict = df_train[filteed_arr].to_dict(orient='records')
    val_dict = df_val[filteed_arr].to_dict(orient='records')
    
    dv = DictVectorizer(sparse=False)

    X_train = dv.fit_transform(train_dict)
    X_val = dv.transform(val_dict)

    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    y_pred = model.predict_proba(X_val)[:, 1]
    prob_to_bool = (y_pred >= 0.5)
    
    return (y_val == prob_to_bool).mean()
    
    

for to_excl in arr:
    farr = list(filter(lambda el: el != to_excl, arr))

    res = get_accucare_by_features(farr, to_excl, df)

    print('excluding', to_excl)
    print('acc', res)
    print('diff', main_acc - res)
    print('')
    print('')
    
    table.loc[to_excl] =  main_acc - res
    
table.abs().sort_values(by='diff')

excluding make
acc 0.9458665547629039
diff -0.007133864876206486


excluding model
acc 0.9160721779269828
diff 0.022660511959714635


excluding transmission_type
acc 0.9446076374318086
diff -0.005874947545111198


excluding vehicle_style
acc 0.9408308854385229
diff -0.0020981955518254436


excluding year
acc 0.9483843894250944
diff -0.009651699538396952


excluding engine_hp
acc 0.9240453210239195
diff 0.014687368862777994


excluding engine_cylinders
acc 0.9475451112043642
diff -0.008812421317666796


excluding highway_mpg
acc 0.9420898027696182
diff -0.003357112882920732


excluding city_mpg
acc 0.946286193873269
diff -0.007553503986571508

                       diff
vehicle_style      0.002098
highway_mpg        0.003357
transmission_type  0.005875
make               0.007134
city_mpg           0.007554
engine_cylinders   0.008812
year               0.009652
engine_hp          0.014687
model              0.022661

In [39]:
# Q6

def rmse(y, y_pred):
    se = (y - y_pred) ** 2
    mse = se.mean()
    return np.sqrt(mse)

pars = [0, 0.01, 0.1, 1, 10]
price_train_log = np.log1p(price_train)
price_val_log = np.log1p(price_val)

dv = DictVectorizer(sparse=True)
X_train = dv.fit_transform(train_dict)
X_val = dv.transform(val_dict)

table = pd.DataFrame(columns=['rmse'])

for curpar in pars: 
    
    model = Ridge(solver='sag', alpha=curpar, random_state=42)
    model.fit(X_train, price_train_log)

    y_pred = model.predict(X_val)
    res = rmse(price_val_log, y_pred)
    print('curpar', curpar)
    print('rmse', res)
    print('')
    print('')
    
    table.loc[curpar] =  res
    

table.abs().sort_values(by='rmse')

curpar 0
rmse 0.25493360804288817


curpar 0.01
rmse 0.254940400691329


curpar 0.1
rmse 0.255032607718687


curpar 1
rmse 0.258313668231239


curpar 10
rmse 0.3310205421092943

           rmse
0.00   0.254934
0.01   0.254940
0.10   0.255033
1.00   0.258314
10.00  0.331021

In [45]:
rmse(np.array([1,2,3]), np.array([1,2,3]))

0.0